TELEGRAM_BOT_TOKEN=your_telegram_bot_token
# Single user: TELEGRAM_CHAT_IDS=123456789
# Multiple users: TELEGRAM_CHAT_IDS=123456789,987654321
TELEGRAM_CHAT_IDS=your_chat_id_1,your_chat_id_2

TENNIS_API_KEY=your_api_tennis_key

KALSHI_KEY_ID=your_kalshi_key_id
KALSHI_PRIVATE_KEY_PATH=kalshi_private.pem
